*
  position relative
  box-sizing border-box

body, html
  width 100%
  height 100%
  margin 0
  padding 0

#myimg
  max-width 100%

#imgContainer
  position absolute
  top 0
  left 0
  width 100%
  height 100vh
  display flex
  justify-content center
  align-items center

#scrollContainer
  height 300vh
  width 100%

.useless{
    height 50vh
}
