html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{user-select: none;margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

@font-face {
	font-family: 'WelfareBrat-Regular';
	font-style: normal;
	font-weight: normal;
	src: local('WelfareBrat-Regular'), url('../fonts/welfare brat.woff') format('woff');
}

body, #game-content{
	font-family: "Courier New", Courier, monospace;
	width:100%;
	height:100vh;
	overflow:hidden;
	cursor: none;
}
.background{
	position: absolute;
	top: 0;
	left: 0;
    width: 100%;
    z-index: -1;
    background-image: url(../images/fond.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
#weapon-container img{
	position:absolute;
	z-index:1;
	bottom:0;
	left:calc(50% - 100px);
	width:100px;
	height:100px;
	transition:0.1s ease;
}
.shot{
	position:absolute;
	bottom:100px;
}
.target{
	position:absolute;
}
#console{
	position:absolute;
	right:10px;
	top:10px;
	color:white;
	max-width: 200px;
	font-family: Roboto, sans-serif;
	text-align: justify;
}#console div{
	margin:0 0 10px 0;
}

#console-shot{
	position:absolute;
	right:10px;
	bottom:10px;
	color:white;
	max-width: 200px;
	font-family: Roboto, sans-serif;
	text-align: justify;
}#console-shot div{
	margin:0 0 10px 0;
}
#score-containter{

    font-size: 35px;
    letter-spacing: 2px;
    position: absolute;
    padding: 0;
    top: 5px;
    right: 0;
   background-color: rgba(1,1,1,0.1);
    color: rgba(0, 255, 33, 0.9);
}
#current-score{
	font-family: "WelfareBrat-Regular", Courier, monospace;
}
#lifebox{
	font-family: "WelfareBrat-Regular", Courier, monospace;
    font-size: 20px;
    letter-spacing: -2px;
    position: absolute;
    padding: 0 0 0 5px;
    top: 5px;
    left: 0;
    min-width:200px;
    color: red;
}
#lifebox p{
	display:inline;
	margin-right:5px;
}
.overlay{
	position: absolute;
	top:0;
	left:0;
	width:100%;
	height:100vh;
	display:flex;
	align-items: center;
	justify-content: center;
	overflow:hidden;
	z-index:100;
	animation: fadeIn 5s ease forwards;
	background-color: rgb(14, 12, 12);
}

@keyframes fadeIn{
	50% {
		background-color: rgb(14, 12, 12);
	}
	100%{
		background-color: rgba(14, 12, 12,0.7);
	}
}

.overlay > div{
	font-family: 'Lato', cursive;
	padding: 10px 30px;
}
.overlay > div > div{
	padding:10px;
}
.overlay > div > div > div{
	padding: 0 0 10px 0;
}


.overlay h2{
	font-family: 'Permanent Marker', cursive;
	font-size: 30px;
	padding:5px 0 10px;
	width: 100%;
    text-align: center;
   	color:#e8105f;
}
.overlay p.spacebar{
    padding: 10px;
    background-color: #e8105f;
    color: white;
    margin: 20px 0px 10px 0px;
    width: calc(100% - 20px);
    border: 2px solid;
    border-radius: 5px;
}
.overlay h3{
        text-align: center;
    font-size: 20px;
    padding: 10px 0 5px;
    padding: 15px 0 10px;
}

.overlay .luck{
	    color: #38d01f;
}

.overlay .badluck{
	color: #f30000;
}

p,  a{
	font-size: 20px;
    padding: 5px 0 2px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.controls p, .retry p{
	color: white;
}
.overlay h1{
    text-align: center;
	text-decoration: none;
	font-size:30px;
	padding:10px 0;
}
.disable{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.timer{
    position: absolute;
    margin:20px 50px;
    top:0;
    right:0;
    color:white;
    z-index:42;
}

